# Git
.git
.gitignore

# Build artifacts
kubecore
microkube

# Test files
*_test.go
coverage.txt
ab_results.txt

# IDE specific files
.idea/
.vscode/

# Config files
.golangci.yml
*.yaml
*.yml
!go.mod
!go.sum

# Scripts
scripts/

# Others
.DS_Store
vendor/